<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>フレーム計算</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="./favicon.ico">
<link rel="apple-touch-icon" href="./apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="./manifest.json">
<script src="./vue.min.js"></script>
<script src="./lodash.min.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>フレーム計算</h1>
<div id="app">
  <div class="container">
    <div class="item preview">
      <canvas id="canvas" width="500" height="500" />
    </div>
    <div class="item form">
      <ul>
        <li><button v-on:click="reset()">Reset</button></li>
        <li v-bind:class="{ error: errors.frameSize }"><label>フレームサイズ: </label><input type="number" v-model="frameSize" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.slopeSize }"><label>スローピング マイナス長: </label><input type="number" v-model="slopeSize" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.horizontalTopTube }"><label>水平換算トップチューブ長: </label><input type="number" v-model="horizontalTopTube" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.seatAngle }"><label>シート角度: </label><input type="number" v-model="seatAngle" pattern="\d*" />°</li>
        <li v-bind:class="{ error: errors.headAngle }"><label>ヘッド角度: </label><input type="number" v-model="headAngle" pattern="\d*" />°</li>
        <li v-bind:class="{ error: errors.bbDrop }"><label>ハンガー下がり: </label><input type="number" v-model="bbDrop" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.forkOffset }"><label>フォークオフセット: </label><input type="number" v-model="forkOffset" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.headTubeUp }"><label>ヘッドチューブ 上サイズ: </label><input type="number" v-model="headTubeUp" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.headTubeDown }"><label>ヘッドチューブ 下サイズ: </label><input type="number" v-model="headTubeDown" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.headParts }"><label>ヘッドパーツ: </label><input type="number" v-model="headParts" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.headCrown }"><label>ヘッド クラウン: </label><input type="number" v-model="headCrown" pattern="\d*" />mm</li>
        <li v-bind:class="{ error: errors.forkSize }"><label>フォーク長: </label><input type="number" v-model="forkSize" pattern="\d*" />mm</li>
        <li class="border"></li>
        <li v-bind:class="{ error: errors.headTube }"><label>ヘッドチューブ: </label><input type="number" v-model="headTube" readonly />mm</li>
        <li v-bind:class="{ error: errors.frontCenter }"><label>フロント-センター: </label><input type="number" v-model="frontCenter" readonly />mm</li>
        <li v-bind:class="{ error: errors.downAngle }"><label>ダウン角度: </label><input type="number" v-model="downAngle" readonly />°</li>
        <li v-bind:class="{ error: errors.headTopAngle }"><label>ヘッド - トップ角度: </label><input type="number" v-model="headTopAngle" readonly />°</li>
        <li v-bind:class="{ error: errors.topSeatAngle }"><label>トップ - シート角度: </label><input type="number" v-model="topSeatAngle" readonly />°</li>
      </ul>
    </div>
  </div>
</div>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('service_worker.js').then(function(registration) {
    registration.onupdatefound = function() {
      registration.update();
    };
  }).catch(function(err) {
    console.error('ServiceWorker registration failed: ', err);
  });
}
</script>
<script src="./app.js"></script>
</body>
</html>
